

<div class="row">
  
  <div class="col-md-6">
      <div class="jumbotron bg-light text-center">  
          <h1>3s7</h1>
          <p class="lead">La più grande e divertente community italiana dedicata al gioco</p>
          <div>
            <a class="btn btn-primary" [routerLink]="['/register']">Registrati</a>
            <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
          </div>
          <app-utenti-connessi-badge></app-utenti-connessi-badge>
        </div>
  </div>
  <div class="col-md-6">
      <app-chat></app-chat>
    </div>
</div>

<!--
  <div class="row">
  <div class="col-md-4">
    <h3>part 1</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
  </div>
  <div class="col-md-4">
    <h3>part 1</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
  </div>
  <div class="col-md-4">
    <h3>part 1</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
  </div>
</div>
-->
